.holder {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; 
        }

        .item {
            background-color: green;
            color: black;
            padding: 20px;
            width: 150px; 
			height: 150px;
            box-sizing: border-box; 
			font-size:40px;
        }